body {
  border: 1px solid white;
  margin: 0;
  padding: 0;
  background-color: rgb(44, 44, 44);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  box-sizing: border-box;
  height: 100vh;
}

.header {
  display: flex;
  border-bottom: 3px solid rgb(32, 32, 32);
}

.left-side {
  flex: 1;
  text-align: left;
  margin: 6px;
}

.left-side span:first-child {
  color: gray;
}

.left-side span:nth-child(2) {
  color: orange;
}

.right-side {
  flex: 1;
  text-align: right;
  margin: 6px;
}

.right-side button:nth-child(2) {
  background-color: orange;
  border: none;
  border-radius: 6px;
  color: white;
}

.under-header {
  display: block;
  margin-top: 2rem;
  border-bottom: 3px solid rgb(32, 32, 32);
  padding: 10px;
}

.info-numbers {
  display: flex;
}

.info-numbers div:first-child {
  margin-right: 100px;
  flex: 1;
  text-align: right;
}

.info-numbers div:nth-child(3) {
  margin-left: 100px;
}

.info-info {
  display: flex;
  font-size: x-small;
}

.info-info div:first-child {
  margin-right: 60px;
  flex: 1;
  text-align: right;
}

.info-info div:nth-child(3) {
  margin-left: 60px;
}

.main {
  margin-right: 7rem;
  margin-left: 7rem;
}

.main-section {
  display: flex;
}

.left-main-side {
  display: block;
}

.first-box {
  margin-top: 50px;
  background-color: rgb(78, 78, 78);
  padding: 5px;
  text-align: center;
  font-size: x-small;
  border-radius: 5px;
}

.second-box {
  margin-top: 10px;
  background-color: rgb(78, 78, 78);
  padding: 5px;
  text-align: center;
  font-size: x-small;
  border-radius: 5px;
}

.left-arrow {
  margin-top: 80px;
  height: 50px;
  width: 70%;
  margin-left: 14px;
  background-color: rgb(78, 78, 78);
  text-align: center;
  font-size: x-small;
  border-radius: 5px;
  padding-top: 40px;
}

.central-side {
  display: block;
}

.big-box {
  height: 450px;
  width: 600px;
  background-color: rgb(162, 162, 162);
  margin-left: 20px;
  margin-top: 20px;
}

.views {
  margin-left: 30rem;
  font-size: x-small;
}

.right-arrow {
  margin-top: 18rem;
  height: 50px;
  width: 30px;
  background-color: rgb(78, 78, 78);
  text-align: center;
  font-size: x-small;
  border-radius: 5px;
  padding-top: 40px;
  margin-left: 20px;
}

.right-main2-side {
  display: block;
  margin-top: 20px;
  height: 5%;
  background-color: rgb(78, 78, 78);
  margin-right: 200px;
  margin-left: 30px;
  padding-bottom: 50px;
  border-radius: 6px;
}

.circle {
  padding: 20px;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 250px;
  background-color: gray;
  margin-left: 4rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.obserwuj {
  width: 30vh;
  margin-left: 20px;
  margin-right: 20px;
  background-color: orange;
  border: none;
  border-radius: 6px;
}

.name {
  font-size: x-small;
  margin-top: 10px;
  margin-left: 20px;
  color: lightgray;
}

.town {
  font-size: x-small;
  margin-top: 10px;
  margin-left: 20px;
  color: lightgray;
}

.about {
  display: block;
}

.omnie {
  margin-left: 20px;
  width: 30vh;
}

.wyslij {
  margin-left: 20px;
  width: 30vh;
}/*# sourceMappingURL=blog.css.map */