h2 {
    text-decoration: underline;
    font-style: italic;
    text-align:center;
}
p {
    text-align: justify;
}
.strong {
    font-weight: bold;
}
.second{
    letter-spacing: 10px;
    word-spacing: 50px;
    line-height: 30px;
}
.last {
    font-size: 1.5em;
    color: red;
}