@charset "UTF-8";
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.content .column > .pic {
  background-color: #a2a285;
  border-radius: 1.5625rem;
}
.content .column:first-of-type > .pic:first-of-type {
  height: 14rem;
}
.content .column:first-of-type > .pic:nth-of-type(2) {
  height: 20rem;
}
.content .column:first-of-type > .pic:nth-of-type(3) {
  height: 23rem;
}
.content .column:first-of-type > .pic:nth-of-type(4) {
  height: 17rem;
}
.content .column:first-of-type > .pic:nth-of-type(5) {
  height: 19rem;
}
.content .column:first-of-type > .pic:nth-of-type(6) {
  height: 16rem;
}
.content .column:nth-of-type(2) > .pic:first-of-type {
  height: 18rem;
}
.content .column:nth-of-type(2) > .pic:nth-of-type(2) {
  height: 20rem;
}
.content .column:nth-of-type(2) > .pic:nth-of-type(3) {
  height: 18rem;
}
.content .column:nth-of-type(2) > .pic:nth-of-type(4) {
  height: 19rem;
}
.content .column:nth-of-type(2) > .pic:nth-of-type(5) {
  height: 16rem;
}
.content .column:nth-of-type(2) > .pic:nth-of-type(6) {
  height: 20rem;
}
.content .column:nth-of-type(3) > .pic:first-of-type {
  height: 17rem;
}
.content .column:nth-of-type(3) > .pic:nth-of-type(2) {
  height: 23rem;
}
.content .column:nth-of-type(3) > .pic:nth-of-type(3) {
  height: 16rem;
}
.content .column:nth-of-type(3) > .pic:nth-of-type(4) {
  height: 18rem;
}
.content .column:nth-of-type(3) > .pic:nth-of-type(5) {
  height: 14rem;
}
.content .column:nth-of-type(3) > .pic:nth-of-type(6) {
  height: 20rem;
}
.content .column:nth-of-type(4) > .pic:first-of-type {
  height: 19rem;
}
.content .column:nth-of-type(4) > .pic:nth-of-type(2) {
  height: 16rem;
}
.content .column:nth-of-type(4) > .pic:nth-of-type(3) {
  height: 17rem;
}
.content .column:nth-of-type(4) > .pic:nth-of-type(4) {
  height: 19rem;
}
.content .column:nth-of-type(4) > .pic:nth-of-type(5) {
  height: 16rem;
}
.content .column:nth-of-type(4) > .pic:nth-of-type(6) {
  height: 17rem;
}
.content .column:nth-of-type(5) > .pic:first-of-type {
  height: 17rem;
}
.content .column:nth-of-type(5) > .pic:nth-of-type(2) {
  height: 19rem;
}
.content .column:nth-of-type(5) > .pic:nth-of-type(3) {
  height: 18rem;
}
.content .column:nth-of-type(5) > .pic:nth-of-type(4) {
  height: 14rem;
}
.content .column:nth-of-type(5) > .pic:nth-of-type(5) {
  height: 15rem;
}
.content .column:nth-of-type(5) > .pic:nth-of-type(6) {
  height: 17rem;
}
.content .column:nth-of-type(6) > .pic:first-of-type {
  height: 15rem;
}
.content .column:nth-of-type(6) > .pic:nth-of-type(2) {
  height: 17rem;
}
.content .column:nth-of-type(6) > .pic:nth-of-type(3) {
  height: 19rem;
}
.content .column:nth-of-type(6) > .pic:nth-of-type(4) {
  height: 14rem;
}
.content .column:nth-of-type(6) > .pic:nth-of-type(5) {
  height: 20rem;
}
.content .column:nth-of-type(6) > .pic:nth-of-type(6) {
  height: 18rem;
}

.pic {
  width: 10%;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
}

i {
  font-size: 20px;
  margin: 10px;
}

.pint {
  color: red;
  margin: 0;
}

.bell {
  color: rgb(17, 17, 17);
  position: relative;
}

.powiadomienia {
  position: absolute;
  top: 0;
  left: 25px;
  background-color: red;
  color: white;
  border-radius: 20px;
  padding: 3px;
  font-size: 10px;
}

.ikon {
  background-color: lightgray;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.comment {
  color: rgb(17, 17, 17);
  margin: 10px;
}

.glowna {
  align-items: center;
  height: 30px;
  border-style: none;
  background-color: rgb(17, 17, 17);
  color: white;
  padding: 7px;
  border-radius: 20px;
  margin: 10px;
}

input {
  width: 1000px;
  height: 30px;
  border-style: none;
  background-color: lightgrey;
  color: black;
  border-radius: 20px;
  margin: 10px;
}

.input {
  position: relative;
}

.szukaj_text {
  position: absolute;
  left: 15px;
  top: 15px;
}

main {
  margin-top: 170px;
  position: relative;
}

.cookie-message {
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  position: fixed;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.4431372549);
}

.cookies {
  width: 600px;
}

.cookie-buttons {
  display: inline-block;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.secondary {
  border-style: none;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  width: 180px;
}

.content {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.column {
  flex: 1; /* Kolumny będą zajmować równą ilość miejsca */
  margin-right: 10px; /* Odstęp między kolumnami */
}

.pic {
  width: 200px; /* Dla przykładu, ustawienie szerokości obrazów */
  background-color: #ccc; /* Dla przykładu, ustawienie koloru tła obrazów */
  margin-bottom: 10px; /* Odstęp między obrazami */
}

.sticky {
  position: fixed;
  bottom: 100px;
  right: 60px;
  transform: translateX(100%);
  width: 50px;
}

.sticky > i {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px rgba(161, 161, 161, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
}/*# sourceMappingURL=style.css.map */