.tekst div:nth-child(6n) {
        position: relative;
        top: -5px
}
.tekst div:nth-child(6n+1) {
    position: relative;
    
}
.tekst div:nth-child(6n+2) {
    position: relative;
    top: 5px
}
.tekst div:nth-child(6n+3) {
    position: relative;
    top: 10px
}
.tekst div:nth-child(6n+4) {
    position: relative;
    top: 5px
}
.tekst div:nth-child(6n+5) {
    position: relative;
    top: 0px
}

.letter {
    position: relative;
    display: inline-block;
    margin: 4px
}
.tekst {
    border: 4px solid red;
    width: 220px;
    padding:10px;
    padding-bottom: 14px;
    background-color: yellow;
}
