.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    
}
.item {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgb(214, 172, 120);
}
.item9 {
    background-color: rgb(148, 17, 17);
    grid-area: 2 / 4 / 3 / 6;
}
.item11 {
    background-color: lightblue;
    grid-area: 3 / 2 / 7 / 3;
}
.item16 {
    background-color: cyan;
    grid-area: 4 / 3 / 6 / 5;
}
.item29 {
    background-color: rgb(131, 62, 62);
    grid-area: 8 / 1 / 9/ 5;
}